.btn-close {
    position: relative;

    width: 25px;
    height: 25px;
    padding: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;

    &::after,
    &::before {
        position: absolute;
        left: 0;
        right: 0;
        top: 21px;

        height: 2px;

        background-color: get-color('accent');

        content: '';
    }

    &::before {
        transform: translateY(-10px) rotate(-45deg);
    }

    &::after {
        transform: translateY(-10px) rotate(45deg);
    }
}